{% load images_tags endless %}

 <a href="{% url 'promos:list_promos'%}">< All promos </a><br/>
 Opps Promo Closed

 <hr>

<h1>{{ promo.title }}</h1>
<div>{{ promo.headline|safe }}</div>

{% if promo.main_image %}
<h1> Promo Finished !! </h1>
<img src="{% image_url promo.main_image.image.url width=600  %}" width=600 />
{% endif %}

<h3> Result </h3>
<div>{{ promo.result|safe }}</div>


{# Each answer can be marked as winner to be shown here #}
{% if winners and promo.display_winners %}

    <h2> Winners </h2>
    {% paginate winners %}
        {% for winner in winners %}

          <div>
            <p> {{ winner.answer }}</p>
            <span> <strong>{{ winner.user.get_full_name }}</strong> in {{ winner.date_insert }}</span>
          </div>

        {% empty %}

         No winners

        {% endfor %}

    {% show_pages %}

{% endif %}